h1.about-minds {
  color: white;
}

.main-header {
  background-color: #4286f4;
}

body {
  padding-top: 50px;
  padding-bottom: 20px;
}


body.main {
  font-family: 'Source Sans Pro', sans-serif;
}

#logo {
  height: 30px;
  padding-bottom: 1px;
}


.jumbotron {
    background-image: url(/img/MINDS_Banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}
