form, footer, .donate, .container.information, .container.help, .container.services, .container.about, .container.about-us > p, ul, li, h4, a {
  font-family:  "Segoe UI", "Helvetica Neue", "Source Sans Pro", sans-serif;
}

nav > li, a {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.btn-donate {
  border: none;
  width: 400px;
  background-color: #333A56;
  font-family: "Segoe UI", Arial, sans-serif;
  color: white;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 15px;
  display: block;
}

.donate p {
  padding-left: 15px;
  padding-right: 55px;
}
form .error {
  color: #cc0000;
  font-weight: lighter;
}

p.minds-description {
  color: white;
  text-align: left;
  text-shadow: black 0.1em 0.1em 0.1em;
}

p.join-us, p.services, p.about-minds, p.donate-text {
  color: white;
  text-align: center;
  text-shadow: black 0.1em 0.1em 0.1em;
}

a.navbar-brand img {
  height: 40px;
  vertical-align: 3px;
  position: absolute;
  top: 6px;
}

body {
  padding-top: 50px;
  padding-bottom: 20px;
}

body.main {
  font-family: 'Source Sans Pro', sans-serif;
}

footer p, a{
  color: black;
}

.donate {
  background-color: #186db4;
  height: 360px;
  background-size: cover;
}


.donate h1 {
  text-align: center;
  padding-top: 40px;
  color: #effcff;
}

.donate p {
  text-align: center;
  color: #effcff;
  font-size: 16px;
}

.jumbotron {
  background-image: url(../img/MINDS_Banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  text-shadow: black 0.2em;
}

.jumbotron.about-us {
  background-image: url(../img/about_us.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.jumbotron.get-involved {
  background-image: url(../img/get_involved.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.jumbotron.services {
  background-image: url(../img/our_services.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.jumbotron.donate-now {
  background-image: url(../img/donate_now.jpg) !important; 
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Source Sans Pro", sans-serif;
}

.jumbotron.get-involved h1, .jumbotron h1{
  text-align: center;
  color: white;
  text-shadow: black 0.05em 0.05em 0.05em;
}

.information .col-md-4 {
  text-align: center;
  margin-bottom: 20px;
}

.information .col-md-4 p {
  margin-left: 10px;
  margin-right: 10px;
}

.material-icons.md-48 {
  font-size: 48px;
  color: #90b8db;
}

.about h1 small, .container.help h2, .services h1 small {
  color: #186db4;
}

.container.help h2 {
  text-align: center;
}

.panel {
  border: none;
}

/* for get-involved page, different colors for the panel headers*/
.panel-2 > .panel-heading {
  background-color: #000000;
}
.panel-3 > .panel-heading {
  background-color: #333A56;
}
.panel-4 > .panel-heading {
  background-color: #52658F;
}
.panel-5 > .panel-heading {
  background-color: #33007b;
}
/*end of css for panels*/


.footer {
  margin-top: 20px;
}
