h1.about-minds, p.minds-description {
  color: white;
  text-align: left;
  text-shadow: black 0.1em 0.1em 0.1em;
}

a.navbar-brand img {
  height: 40px;
  vertical-align: 3px;
  position: absolute;
  top: 6px;
}

body {
  padding-top: 50px;
  padding-bottom: 20px;
}

body.main {
  font-family: 'Source Sans Pro', sans-serif;
}

footer p, a{
  color: black;
}
.jumbotron {
    background-image: url(/img/MINDS_Banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-shadow: black 0.2em;

}

.thumbnail img {
  border-radius: 0.5px;
}

.panel-success > .panel-footer {
    color: #468847;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
